<a href="https://colab.research.google.com/github/mongvuot336699/DataScient/blob/master/pandas_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [42]:
df = pd.read_csv('EcommercePurchases.csv')
df.head(10)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
5  7502 Powell Mission Apt. 768\nTravisland, VA 3...  ...          25.15
6     93971 Conway Causeway\nAndersonburgh, AZ 75107  ...          88.56
7  260 Rachel Plains Suite 366\nCastroberg, WV 24...  ...          44.25
8            2129 Dylan Burg\nNew Michelle, ME 28650  ...          59.54
9    3795 Dawson Extensions\nLake Tinafort, ID 88739  ...          95.63

[10 rows x 14 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [9]:
df['Purchase Price'].mean()

50.34730200000025

In [10]:
#highest
df['Purchase Price'].max()

99.99

In [12]:
#lowest
df['Purchase Price'].min()

0.0

In [20]:
df[df['Language'] == 'en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [28]:
#chon tat ca dong co security > 1000 
df.loc[df['CC Security Code']>1000,'Email']

5                           ynguyen@gmail.com
11                   johnnymiller@coleman.com
32                       shane21@atkinson.com
61                       diazronald@gmail.com
71                     kathryn33@johnson.info
                        ...
9935                  heathergreene@gmail.com
9950                         kroman@yahoo.com
9955    matthewcontreras@bradshaw-skinner.com
9973                         rlewis@yahoo.com
9994                       iroberts@gmail.com
Name: Email, Length: 788, dtype: object

In [29]:
df[df['Job']== 'Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [31]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [37]:
df['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

In [39]:
df.loc[df['Lot'] == '90 WT', 'Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [41]:
df.loc[df['Credit Card'] == 4926535242672853,'Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [49]:
df.loc[(df['CC Provider'] == 'American Express') & (df['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [55]:
df[df['CC Exp Date'].apply(lambda x : x[3:]) == '25'].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

In [56]:
df['hosting'] = df['Email'].apply(lambda x: x.split('@')[1])

In [57]:
df['hosting'].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: hosting, dtype: int64